.nav {
    position: relative;

    .navMobile {
        background-color: #458FF6;
        color: #fff;
        position: fixed;
        width: 100%;
        height: 100%;

        .containerMobile {
            padding: 74px 60px 34px;
        }
    }

    .navDesktop {
        .menuDesktop {
            font-size: 1rem;
            display: none;

            @media (min-width: 768px) {
                display: block;

                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 1.5rem;
                }

                li {
                    height: 41px;
                    display: flex;
                    align-items: center;
                }
            }
        }

        .containerDesktop {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.5rem 1rem 0;
        }

        .iconMenu {
            @media (min-width: 768px) {
                display: none;
            }
        }
    }
    
    .menu {
        margin-bottom: 37px;

        li {
            font-size: 35px;
            font-weight: 700;
            line-height: 48px;
        }
    }

    .contact {
        margin: 0 auto 32px;
        max-width: 182px;
        text-align: center;

        ul {
            display: flex;
            flex-direction: column;
            gap: 14px;
        }

        li {
            &:first-child {
                font-weight: 600;
            }
        }
    }

    .social {
        ul {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

    }

    .icon {
        span {
            &:before {
                font-size: 28px;
            }
        }

        &:before {
            font-size: 28px;
        }
    }

    .close {
        background-color: #fff;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 1.5rem;
        right: 0.8rem;
        &:before {
            font-size: 1rem;
            color: #1F1534;
        }
    }
}