.nav {
    background-color: #458FF6;
    color: #fff;

    li {
        &:hover {
            color: #1F6EA3;
            cursor: pointer;
        }
    }

    .container {
        padding: 74px 60px 34px;
    }

    .menu {
        margin-bottom: 37px;

        li {
            font-size: 35px;
            font-weight: 700;
            line-height: 48px;
        }
    }

    .contact {
        margin: 0 auto 32px;
        max-width: 182px;
        text-align: center;

        ul {
            display: flex;
            flex-direction: column;
            gap: 14px;
        }

        li {
            &:first-child {
                font-weight: 600;
            }
        }
    }

    .social {
        ul {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

    }

    .icon {
        span {
            &:before {
                font-size: 28px;
            }
        }

        &:before {
            font-size: 28px;
        }
    }
}